.root {
    background-color: #B9D9EB;
    border: unset;
    border-radius: 5px;
    padding: 5px 15px;
}

.root:focus {
    background-color: #B9D9EB;
}

.root:hover {
    background-color: #007FFF;
    color: #B9D9EB;
}

.root:active {
    background-color: #003262;
    color: #B9D9EB;
}

.root:disabled {
    background-color: #E5E4E2;
    color: #003262;
}

.root-close {
    align-items: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height: 20px;
    padding: 0;
    width: 20px;
}

.root-counter {
    align-items: center;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    height: 30px;
    padding: 0;
    width: 30px;
}

.root-tab {
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    height: 50px;
    width: 150px;
}