.layout {
    display: grid;
    grid-template-areas:
        "header header header"
        ". body ."
        "footer footer footer";
    grid-template-columns: auto max(500px, 60%) auto;
    grid-template-rows: 100px calc(100% - 150px) 50px;
    height: 100%;
}

.header {
    grid-area: header;
}

.body {
    grid-area: body;
}

.footer {
    grid-area: footer;
}