.container {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.form {
    background-color: #E6E6FA;
    border: 2px solid #B57EDC;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 50px auto 25px;
    height: 240px;
    left: calc(50% - 160px);
    padding: 10px;
    position: relative;
    top: calc(50% - 120px);
    width: 320px;
    z-index: 2;
}

.header {
    align-items: center;
    display: flex;
    justify-content: center;
}

.close {
    position: absolute;
    right: 5px;
    top: 5px;
}

.item {
    margin: 5px 0;
}

.footer {
    align-items: center;
    display: flex;
    justify-content: center;
}